body {
	padding : 10px;
}

.skinnytron {
	margin-bottom : 30px;
	border-radius : 4px;
	padding : 15px;
	background-color : darkviolet;
	color : white;
}

.skinnytron h1 {
	margin : 0px;
}

.settings {
	padding-bottom : 25px;
}

.settings .input {
	padding-bottom : 10px;
}

.bootstrap-tagsinput {
	width : 100%;
	margin-bottom : 0px;
}

.error {
	float : right;
	color : red;
}

#clear {
	float : right;
	cursor : pointer;
}

#output {
	border : 1px solid #CCC;
	border-radius : 4px;
	box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
	height : 300px;
	padding : 5px;
	background-color : #EEE;
	overflow-y : scroll;
}

#trigger {
	margin-top : 15px;
}
